.contacts{
	background-color: #fbfbfb;
	padding:20px 0;
	border-bottom: 1px solid #f2f2f2;
	color: #646464;
	font-family: "myriad pro";
	font-size: 12px;
}
.contacts-top .fa{
	padding-right: 5px;
}
.contacts-top :nth-child(2n+1){
	padding-left: 30px;
	position: relative;
}
.phonenb{
	display: inline-block;
}
.social-links .fa{
	padding-right: 8px;
	transition: all 0.4s;
}
@media (max-width: 993px) {
	.contacts .social-links {
		text-align: center;
		margin-top: 20px;
	}
}
@media (max-width: 450px) {
	 .phonenb{
		
		margin-top: 12px;
	}
}
 
.social-links a .fa{
	color: #646464;
}
.social-links .fa:hover{
	color: #43a906;
}
/*.social-links{
	text-align: right;
}*/
nav{
	/*padding-top: 20px;*/
}
.contacts{
	/*line-height: 1.6;*/
}
.logo {
	padding: 20px;
}

.nav-menu li{
	list-style: none;
	/*display: inline-block;*/
	float: left;
}
.touch-menu{
    display: none;
	text-decoration: none;
	color: #393939;
	transition: all 0.2s;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	padding: 20px 15px;
	border-bottom: 3px solid transparent;
}
.touch-menu .fa{
	font-size: 20px;
}
.nav-menu li a{
	display: inline-block;
	text-decoration: none;
	color: #393939;
	transition: all 0.2s;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	padding: 41px 15px;
	border-bottom: 5px solid transparent;
}
@media (max-width: 768px){
	 .nav-menu{
		display:none;
        padding: 0;
	}
	.touch-menu{
		display: inline-block;
	}
	.nav-menu li{
		float: none;
	}
	nav .nav-menu li a{
		padding: 5px;
		font-size: 10px;
		border-top: 1px solid #43a906;
		display: block;
		border-bottom: none;
	}
	nav .nav-menu li:first-child a{
		border-top: none;
	}
	nav .nav-menu li a:hover{
	    color: #43a906;
        border-bottom: none;
}

}
	

@media (max-width: 1200px) {
  .nav-menu{
  	margin-top: 20px;
  }
  .nav-menu li a{
  	padding:10px;
  }
  .logo {
	padding: 5px;
}
.logo-main{
	text-align: center;
}
}
.nav-menu li a::last-child{
	padding-right: 0;
}
.touch-menu:hover{
    color: #43a906;
    border-bottom: 3px solid #43a906;
}
.nav-menu li a:hover{
	color: #43a906;
    border-bottom: 5px solid #43a906;
}
.slider{
	background: url(../images/slide-bg.png);
	background-position: center;
	background-size: cover;
	height: 786px;
	background-attachment:fixed;

}
@media (max-width: 540px) {
	.slider{
		display: none;
	}
}
.cover{
	background-color: rgba(255,255,255,0.3);
	height: 100%;
}

.slide-content button{
	border: none;
	background-color: #101010;
	padding:22px 45px;
	transition: all 0.4s;
	border-radius: 5px;
	margin-top: 20px;
}
.cover .slide-content button:hover{
	background-color: #43a906;
}
.cover .slide-content button p{
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	margin:0;
	font-weight: bold;
}

.slide-content{
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Lato', sans-serif;
	margin-top: 270px;
	outline: none;
}
.slide-content h1{
	font-weight: bold;
	font-size: 70px;
	margin: 0;
}
.protect-first {
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	margin: 0;

}
.lorem{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-top: 15px;

}
/*SLICK DOTS*/
.slick-dots li{
	width: 14px;
	height: 14px;
}
.slick-dots li button{
	border: 4px solid #e6e5e5;
	border-radius: 50%;
	width: 13px;
	height: 13px;
}

.slick-dots li button::before{
	content: "";
	transition: all 0.2s;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	top: 2px;
	left: 2px;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button{
	border-color: #fff;
}
.slick-dots li button:hover:before,
.slick-dots li.slick-active button::before{
	background-color: #fff;
}
.slick-dots{
	bottom: 30px;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}

/*main-contant*/
.content-top {
	text-align: center;
}
.content-top .welcome-to{
	font-size: 36px;
	color: #222222;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 30px;
	margin-top: 110px;
}
.green-fire{
	font-size: 16px;
	font-family: "myriad pro";
}
/*i-fonts-in-blocks*/
.block-ic .fa{
	font-size: 45px;
	border: 1px solid #c4c4c4;
	z-index: 10;
	color: #c4c4c4;
	transition: all 0.3s;
	border-radius: 50%;
	border: 1px solid #c4c4c4;
}
.block-ic .fa-tencent-weibo{
	padding:35px 43px;
}
.block-ic .fa-recycle{
	padding:35px 35px;
}
.block-ic .fa-tint{
	padding:35px 45px;
	transform: rotate(180deg);
}
.block-ic .fa-cog{
	padding:35px 40px;
}

/*i-fonts-in-blocks*/

.pi-tit{
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
	font-weight: 900;
	margin-top: 35px;
	color: #393939;
	transition: all 0.3s;
}
.disc{
	font-size: 14px;
	font-family: "myriad pro";
	color: #646464;
	line-height: 24px;
}
.cont-block{
	margin-top: 60px;
}
.cont-block:hover .fa{
	background-color: #43a906;
	color: #ffffff;
	border: 1px solid transparent;
}
.cont-block:hover .pi-tit{
	color: #43a906;
}

.section-bec{
	background-color: #222222;
	margin-top: 110px;
	margin-bottom: 80px;
}
.section-bec .bec{
	display: inline-block;
	margin:0;
	color: #ffffff;
	font-size: 45px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding-top: 75px;
	font-weight: bold;
}
.section-bec span{
	color: #43a906;
	font-size: 45px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.join-us{
	font-family: "myriad pro";
	color: #fff;
	padding-top: 10px;
	max-width: 710px;
	padding-bottom: 70px;
}
.section-bec a{
	border-radius: 3px;
	background-color: #43a906;
	border: none;
	margin-top: 118px;
	position: relative;
	overflow: hidden;
	border: 2px solid transparent;
	transition: all 0.3s;
	display: inline-block;
	text-decoration:none;
	
}
@media (max-width: 992px) {
	.section-bec button{
		margin:0 0 15px 0;
	}
}

.section-bec a p{
	color: #fff;
	font-size: 18px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding: 10px 40px 17px 40px;
	display: inline-block;
	margin: 0;
}

.b-hov{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	left: 100%;
	top: 0;
	z-index: 0;
	transition: all 0.4s;
	border: 2px solid transparent;
}
.b-hov .join-p{
	color: #fff;
	font-size: 18px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding: 10px 10px 10px 40px;
	display: inline-block;
	margin: 0
}
.section-bec a:hover .b-hov{
	left: 0;
	border: 2px solid #fff;
	background-color: #222222;
}

.section-bec a:hover{
	background-color: #222222;
}

.center-bl-pic{
	text-align: center;
	box-sizing: border-box;
}

.center-bl-pic .lt-work{
	font-size: 31px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	color: #222222;
	text-transform: uppercase;
}

.pics-text{
	font-family: "myriad pro";
	font-size: 16px;
	color: #393939;
}

.center-bl-pic .nav-pic{
	list-style-type: none;
	display: inline-block;
	    margin-top: 40px;
    margin-bottom: 50px;
}

.center-bl-pic .nav-pic li{
	float: left;
}
.nav-pic li a{
	display: inline-block;
	padding: 15px;
	background-color: #f6f6f6;
	color: #726e6e;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	border:1px solid #e9e9e9;
	border-radius: 3px;
	margin-right: 10px;
	transition: all 0.3s;
	box-sizing: border-box;
	font-weight: bold;
	line-height: 1;
}
@media (max-width: 527px) {
	.nav-pic li a{
		margin: 5px;
		margin-right: 0;
	}
	
}
.center-bl-pic .nav-pic li a:hover{
	background-color: #43a906;
	color: #fff;
}

.nav-pic .activate {
	background-color: #43a906;
	color: #fff;
}
@media (max-width: 600px){
	.grid{
		display: none;
	}
}


.grid {
 margin: 0 auto 90px;
 max-width: 1220px;

}
.grid-item {
 margin: 5px;
 display: inline-block;
}
.grid-item img {
 max-width: 290px;
 height: 285px;
 position: relative;
}
.item-w1 img {
 max-width: 580px;
}
.item-w2 img {
 max-width: 285px;
 height: 580px;
}

.pic-hov{
	position: absolute;
	display:none;
	height: 97%;
	width: 97%;
	top: 1.5%;
	left: 1.5%;
	background-color: rgba(000,000,000,.85);
	display: flex;
	opacity: 0;
	justify-content: center;
	align-items: center;
	color: white;
	transition: all .3s;
	
}

.grid-item:hover .pic-hov{
	opacity: .85;
}
.pic-hov p{
	
	color: white;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
}

.ach{
	background-color: #bdbebd;
	text-align: center;
	padding-bottom: 80px;
}
.ach a{
	text-decoration: none;
}

.top-ach{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-top: 90px;
}

.bot-ach{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 13px;
	margin-bottom: 50px;
}
.ach .fa{
	font-size: 80px;
	color: #43a906;
	transition: all 0.3s;

}

.numb{
	font-size: 37px;
	color: #fff;
	padding-top: 20px;
}

.line{
	display: inline-block;
	width: 80px;
	height: 1px;
	background-color: #fff;
	transition: all 0.3s;
	position: relative;
}
.line:after{
	position: absolute;
	content:"";
	display: inline-block;
	width: 0;
	height: 1px;
	background-color: red;
	transition: all 0.7s;
	top: 0;
	left: 0;

}
.und-line{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 10px;
}


.pics-line:hover .fa{
	color: #629a40
}
 .pics-line:hover .line{
	background-color: #43a906;
 }

 .pics-line:hover .line:after{
	background-color: #43a906;
	width: 80px;
 }
 .cen-lat{
    text-align:center;
    padding: 0;
    margin: 100px 0 100px 0;
 }

 .picture-blocks,
 .picture-blocks2{
 	padding: 0;
 	text-align: center;
 }
 .picture-blocks2{
  text-align: left;
  overflow: hidden;
 }
.lat{
	 font-size: 31px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    text-align:center;

}
.la-lor{
  font-family: "myriad pro";
    font-size: 16px;
    color: #393939;
    margin-bottom: 50px;
    text-align: center;
}

.cen-lat ul{
	list-style: none;
	display: inline-block;
	padding:0;
}

.cen-lat ul li{
	float: left;
	display: inline-block;
	background-color: #eff0f2;
	max-width: 380px;
	height: 294px;
}
@media (max-width:1199px){
	.cen-lat ul li:nth-child(3n+1){
	display: none;
}
.cen-lat ul li{
	float: none;
}

}
@media (max-width: 991px) {
	.picture-blocks{
		margin-bottom: 15px;
	}
	.picture-blocks2{
	text-align: center;
}
 .latest .picture-blocks2 .side-pic-bl{
	text-align: left;
	float: none;
	margin-bottom: 15px;
}
}


.btn-bric{
	border-radius: 3px;
    background-color: #43a906;
    border: none;
    margin-top: 
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.btn-bric:hover{
	background-color: #101010;
}

.btn-bric p{
	 color: #fff;
    font-size: 12px;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 7px 14px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}

.one-tree{
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 18px;
	color: #454444;
	padding-top: 30px;

}

.on-numb{
	font-family: 'Roboto Slab', serif;
	font-weight: 14px;
	color: #646464;
}
.on-text{
	  font-family: 'Open Sans', sans-serif;
	  font-size: 12px;
	  color: #646464;
	  line-height: 24px;
	  padding: 0 15px;

}
.picture-blocks2 .side-pic-bl{
	display: inline-block;
	margin-bottom: 34px;
	transition: all 0.3s;
	border-radius: 5px;
}

.side-pic-bl:hover{
		background-color: #43a906;
}

.side-pic-bl:hover .maint-t-side,
.side-pic-bl:hover .main-text-side{
		color: #000;
}
.side-pic-bl img{
	float: left;
	display: inline-block;
	padding-right: 18px;
}
.maint-t-side{
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	color: #454444;

}


.main-text-side{
	color: #646464;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}


.slider2{
	background-color:#101410;
	background-attachment:fixed;
	margin-bottom: 80px;
	padding-bottom: 150px;
}


.cover2{
	height: 100%;
  text-align: center;
}

.slide-content2{
	text-transform: uppercase;
	color: #fff;
	font-family: 'Lato', sans-serif;
	margin:0 auto;
	outline: none;
}

.lf-white-bx{
	display: inline-block;
	margin-top: 90px;
}
.lf-white-bx .fa{
	color: #222;
	display: inline-block;
	float: left;
	height: 100%;
	font-size: 24px;
}

.lf-white-bx .white-tx{
	color: #646464;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 14px;
	padding-left:45px;
	font-weight: 300;
	text-transform: none;


}
.in-white{
	max-width: 570px;
	background-color: #fff;
	padding: 60px 30px;
	text-align: left;
	margin-bottom: 30px;
}

.pic-side-1{
	position: relative;
}

.pic-side-1:after{
	content: "";
	position: absolute;
	display: block;
	background-image:url(../images/face1.png);
	width: 107px;
	height: 105px;
	top: -70px;
	left: 40%;
}

.pic-side-2{
	position: relative;
}

.pic-side-2:after{
	content: "";
	position: absolute;
	display: block;
	background-image:url(../images/face2.png);
	width: 107px;
	height: 105px;
	top: -70px;
	left: 40%;
}
.names, .work{
	font-family: 'Roboto Slab', serif;
	font-size: 13px;
	text-transform: none;
}
.names{
	color: #fff;
}

.work{
	color: #43a906;
}

.disc-pic-bl{
	border: 1px solid #d1d3d1;
	border-radius: 3px;
	display: inline-block;
}

.disc-pic-bl img{
	width: 100%;
}

.disc-pic-bl .tx-bl{
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	color: #454444;
}

.data-line{
	color: #aeadad;
    overflow: hidden;
    padding: 30px 14px 25px;
}

.data-line .right-ic{
	float: right;
}

.data-line .data-tx{
	color: #646464;
	font-family: 'Open Sans', sans-serif;
	padding-top: 30px;
}

.data-line .readmore{
	font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #545353;
    font-family: 'Roboto Slab', serif;
    border: 2px solid transparent;
    transition: all 0.3s;
    font-weight: bold;
    transition: all 0.2s;
}

.data-line .readmore:hover{
	color: #43a906;
}
.purch-tx{
	font-size: 36px;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
	color: #fff;
	text-transform: uppercase;

}

.purch{
	background-color: #333333;
	padding: 50px 0 50px;
}

.purch a{
	border-radius: 3px;
	background-color: #43a906;
	border: none;
    outline: none;
	position: relative;
	overflow: hidden;
	border: 2px solid transparent;
	transition: all 0.3s;
	text-decoration: none;
	display: inline-block;
}

.purch a p{
	color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 10px 34px 8px 34px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}



.pur-hov{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	left: 100%;
	top: 0;
	z-index: 0;
	transition: all 0.4s;

}
.purch a:hover{
		background-color: #222222;
}
.purch a:hover .pur-hov{
	left: 0;

	background-color: #222222;
}

.logos{
	opacity: .67;
	padding: 60px 0 60px 0;
}
.logos div {
	text-align: center;
}

@media (max-width: 992px) {
	.logos div {
		margin-bottom: 10px;
	}
	.logos{
		padding: 35px 0 15px 0;
	}
}



.slider2 .slick-dots {
    bottom: -125px;
}
.our-info{
	color: #696969;
}
.our-info .fa{
	padding-bottom: 20px;
	padding-right: 10px;
}
.our-info  .fa-map-marker{
	font-size: 22px;
}
.our-info  .fa-mobile{
	font-size: 23px;
}
.our-info  .fa-envelope{
	font-size: 14px;
}

.bottom-block{
	background-color: #eeeeee;
	padding: 100px 0 100px 0;
}
@media (max-width: 768px) {
	.bottom-block{
		padding: 60px 0 60px 0;
	}
}

iframe{
	width: 100%;
	height: 300px;
	display: inline-block;
	padding-top: 20px;
}

.bottom-tt{
	font-size: 22px;
	font-family: 'Roboto Slab', serif;
	color: #222222;
	text-transform: uppercase;
}
.form-name{
	display: inline-block;
}

.form-ft input[placeholder="Name"]{
	color: #696969;
}
.form-ft input[type="text"]{
	outline: none;
	border:1px solid #cacaca;
	background-color:#d4d4d4;
	display: inline-block;
	width: 270px;
	padding: 13px;
	margin-right: 10px;
	color: #696969;
}
@media (max-width: 583px) {
	.form-ft input[type="text"]{
		margin-bottom: 20px;
	}
}

.form-ft input[type="email"]{
	outline: none;
	border:1px solid #cacaca;
	background-color:#d4d4d4;
	display: inline-block;
	width: 270px;
	padding: 13px;
	color: #696969;
}

.form-ft input[type="subject"]{
	outline: none;
	border:1px solid #cacaca;
	background-color:#d4d4d4;
	display: inline-block;
	width: 100%;
	padding: 13px;
	margin: 20px auto;
	color: #696969;
}

form{
	font-size: 14px;
	font-style: italic;
}

textarea{
	width: 100%;
	height: 200px;
	resize: none;
	outline: none;
	background-color:#d4d4d4;
	padding: 18px;
	border:1px solid #cacaca;
}


.bottom-block  button{
	border-radius: 3px;
	background-color: #43a906;
	border: none;
	margin-top: 18px;
	position: relative;
	overflow: hidden;
	border: 2px solid transparent;
	transition: all 0.3s;
}
.bottom-block  button:hover{
    background-color: black;
}

.bottom-block  button p{
	color: #fff;
	font-size: 14px;
	text-transform:uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	padding: 18px 70px;
	display: inline-block;
	margin: 0;
	font-style: normal;
}

.bottom{
	background-color: #222222;

}
.bottom p{
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	margin: 30px 0 30px 15px;
	
	}





	.form-ft  button{
	border-radius: 3px;
	background-color: #43a906;
	border: none;
	margin-top: 25px;
	position: relative;
	transition: all 0.3s;
	color: #fff;
	font-size: 14px;
	text-transform:uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	padding: 15px 65px;
	display: inline-block;
	font-style: normal;
}
	.form-ft  button:hover{
    background-color: black;
}

@media only screen and (max-width : 768px){
	.wow{

	}
}


@media only screen and (max-width : 768px) {

/*Disable Animation on Mobile Devices*/
.wow {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}
}



